<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pets')}">

  <body>

    <h2>Pets</h2>

    <table id="pets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
          <th style="width: 150px;">Type</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="pet : ${selections}">
              <td th:text="${pet.name}"/>
            <td th:text="${pet.type}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
